{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="login-section">
    <h1 class="login-section__title">Connexion</h1>

    <form method="post" class="form">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté avec l'adresse mail {{ app.user.userIdentifier }}
        </div>
        <a href="{{ path('app_logout') }}">Logout</a>
        {% endif %}


        <label for="username" class="form__label">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form__input"
            autocomplete="email" required autofocus>
        <label for="password" class="form__label">Password</label>
        <input type="password" name="_password" id="password" class="form__input" autocomplete="current-password"
            required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Remember me</label>
        </div>
        #}

        <button class="form__btn" type="submit">
            login
        </button>
    </form>
</section>
{% endblock %}